@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply rounded-md border border-transparent drop-shadow-md shadow-sm bg-teal-600 py-3 px-8 text-center font-medium text-white tracking-wide hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-700 focus:ring-offset-2 transition duration-300 ease-out
    }

    .btn-secondary {
        @apply rounded-md border border-transparent drop-shadow-md shadow-sm bg-teal-400 py-3 px-8 text-center font-medium text-white tracking-wide hover:bg-teal-500 focus:outline-none focus:ring-2 focus:ring-offset-gray-50 focus:ring-cyan-500 focus:ring-offset-2 transition duration-300 ease-out
    }

    .btn-tertiary {
        @apply rounded-md bg-white border border-gray-200 drop-shadow-sm bg-white py-3 px-8 text-center font-medium text-gray-700 tracking-wide hover:bg-gray-100 hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-2 transition duration-300 ease-out
    }

    .btn-bouncy {
        @apply active:scale-105
    }

    .smooth-transition {
        @apply transition duration-300 ease-in-out
    }

    .text-gradient {
        @apply text-transparent bg-clip-text
    }
    .green-blue-dark-gradient {
        @apply bg-gradient-to-br from-teal-700 via-teal-600 to-cyan-500
    }
    .green-blue-light-gradient {
        @apply bg-gradient-to-br from-emerald-400 via-emerald-400 to-cyan-500
    }
    .purple-pink-gradient {
        @apply bg-gradient-to-r from-purple-400 to-pink-600
    }

    .input-primary {
        @apply rounded-lg border border-gray-300 text-gray-900 placeholder-gray-500 shadow-sm hover:ring-1 hover:ring-cyan-500/[.55] focus:border-cyan-500 focus:outline-none focus:ring-1 focus:ring-cyan-500 hover:ring-1 hover:ring-cyan-500/[.55] smooth-transition
    }
    .input-secondary {
        @apply text-sm rounded-lg border border-gray-300 text-gray-800 placeholder-gray-400 shadow-sm hover:ring-1 hover:ring-teal-500/[.55] focus:border-cyan-500 focus:outline-none focus:ring-1 focus:ring-teal-500 hover:ring-1 hover:ring-teal-500/[.55] smooth-transition
    }
    .input-secondary-invalid {
        @apply border-red-500 bg-red-50 text-red-900 placeholder-red-700 placeholder:opacity-75 hover:border-red-500 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400
    }

    .display-img {
        @apply rounded-lg drop-shadow-md smooth-transition
    }
}


@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 30vh;
        background: #4f536e2b;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #b9bacd9b;
        border-radius: 100vh;
        border: 3px solid #f6f7edc3;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #27222c3e;
    }
}